<% if @project %>
  <h1>Edit Project</h1>

  <form action="/projects/<%= @project.id %>/edit" method="post">
    <input type="hidden" name="_method" value="patch">
    <div class="form-group">
      <label for="title">Project Title</label>
      <input type="text" name="title" class="form-control" value="<%= @project.title %>">
    </div>
    <button type="submit" class="btn">Update Project</button>
  </form>
  <form class="" action="/projects/<%= @project.id %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="btn">Delete Project</button>
  </form>
<% else %>
  <h2>Project not Found</h2>
<% end %>
<h5><a href="/">Back to Homepage</a></h5>
