<% if @project %>
  <h1>Edit Project</h1>

  <form action="/projects/<%= @project.id %>/edit" method="post">
    <input type="hidden" name="_method" value="patch">

    <div class="form-group title">
      <label for="title" class="control-label">Project Title</label>
      <input id="title" type="text" name="title" class="form-control" value="<%= @project.title %>">
    </div>

    <div class="alert alert-danger">
      Project Title cannot be blank.
    </div>

    <button type="submit" class="btn project-submit">Update Project</button>
  </form>

  <form class="delete" action="/projects/<%= @project.id %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">

    <button type="submit" class="btn">Delete Project</button>
  </form>

<% else %>
  <h2>Project not Found</h2>
<% end %>

<h5><a href="/">Back to Homepage</a></h5>
