<h1>Welcome to your Volunteer Tracker</h1>

<h2>Projects</h2>



<h2>Add a Project</h2>
<form action="/" method="post">
  <div class="form-group">
    <label for="title">Project Title</label>
    <input type="text" name="title" class="form-control">
  </div>
  <button type="sumbit" class="btn">Create Project</button>
</form>
