<h1>Welcome to your Volunteer Tracker!</h1>

<p>Add a project below. Once at least one project is created, you'll have the option to add volunteers and assign them to projects.</p>

<div class="row">
  <div class="col-sm-6">
    <h3>Add a Project</h3>

    <form action="/add-project" method="post">
      <div class="form-group title">
        <label for="title" class="control-label">Project Title</label>
        <input id="title" type="text" name="title" class="form-control">
      </div>

      <div class="alert alert-danger">
        Project Title cannot be blank.
      </div>

      <button type="submit" class="btn project-submit">Create Project</button>
    </form>

    <% if @projects.any? %>
      <h3>Add a Volunteer</h3>

      <form action="/add-volunteer" method="post">
        <div class="form-group name">
          <label for="name" class="control-label">Name</label>
          <input id="name" type="text" name="name" class="form-control">
        </div>

        <div class="form-group">
          <label for="project-id">Project</label>
          <select class="form-control" name="project-id">
            <% @projects.each do |project| %>
              <option value="<%= project.id %>"><%= project.title %></option>
            <% end %>
          </select>
        </div>

        <div class="alert alert-danger volunteer-error">
          Name cannot be blank.
        </div>

        <button type="submit" class="btn volunteer-submit">Add Volunteer</button>
      </form>
    <% end %>
  </div>

  <div class="col-sm-6">
    <h3>Projects</h3>

    <% if @projects.any? %>
    <ul>
      <% @projects.each do |project| %>
        <li>
          <a href="/projects/<%= project.id %>"><%= project.title %></a>
        </li>
      <% end %>
    </ul>
    <% else %>
      <p>No projects added yet.</p>
    <% end %>
  </div>
</div>
